html {
	box-sizing: border-box;
	
	font-family: 'Roboto', sans-serif;
	font-size: 100%/1.5rem;
	color: #141414;
	background-color: #f5f5f5;

	overflow-y: scroll;
}

*, *:before, *:after {
	box-sizing: inherit;
}

::selection {
	background-color: #3297fd;
	text-shadow: none;
}

html, body {
	margin: 0;
	padding: 0;
 	min-height: 100vh;
}

.hide {
	display: none !important;
}

header, main, footer {
	padding: 1.5rem;
}

main {
	background-color: #fff;
}

h1 {
	font-size: 1.5rem;
	margin: 0;
	font-weight: 400;
}

h2 {
	font-weight: 300;
}

h2 strong {
	color: #ed692b;
}

.filedrop {
	box-sizing: border-box;
	width: 100%;
	border: 3px solid black;
	padding: 3rem 1.5rem;
	text-align: center;
	color: #999;
}

.filedrop.active {
	border-color: #ed692b;
}
